.home {
    width: 100%;
    padding-top: var(--header-height);
}

.about-content {
    line-height: 2rem;
    padding: 0.8rem;
    flex-direction: column;
}

.about-me {
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
}

.about-me h2 {
    font-weight: var(--font-bold);
}

.about-me p {
    text-wrap: balance;
    font-size: var(--small-font-size);
}

.about-links {
    flex-direction: row;

}

@media screen and (max-width: 775px) {
    .home {
        padding-top: calc(var(--header-height) * 2);
    }
}


