.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--bg-color);
}

.header-bg {
    background-color: var(--bg-lite-color);
    opacity: 0.8;
    transition: 0.3s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.6rem;
}

.nav-menu {
    display: flex;
    column-gap: 3.2rem;
}

.nav-menu li {
    padding: 0 1.6rem;
}

.name-title {
    font-weight: var(--font-normal);
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1040px) {
    .nav {
        padding-inline-start: 1.6rem;
        padding-inline-end: 1.6rem;
    }

    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: var(--bg-lite-color);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        padding: 1.6rem 0;
    }

    .nav-menu li a {
        font-size: var(--h2-font-size);
    }

    .hamburger {
        display: initial;
    }
}