.hero {
    padding-top: 4.8rem;
    min-height: 136px;
    width: 100%;
    animation: fade-in 0.3s 0.1s backwards;
}

.heading {
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.heading h1 {
    font-size: var(--h2-font-size);
}

