.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 40rem);
    width: 100%;
    align-items: stretch;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .projects-grid {
        grid-template-columns: repeat(1, 40rem);
    }
}

@media screen and (max-width: 400px) {
    .projects-grid {
        grid-template-columns: repeat(1, 36rem);
    }
}

