.home {
    height: 50vh;
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero .content p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
}

@media screen and (max-width: 640px)
{ 
    .hero .content p {
        font-size: 1.4rem;
    }
}