.home {
    padding-top: 4.8rem;
    min-height: 346px;
    width: 100%;
}

.about-content {
    width: 100%;
    animation: fade-in 0.3s 0.1s backwards;
}

.about-me p {
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    text-align: center;
    width: 90%;
}

.about-links {
    flex-direction: row;
}


.profile-img {
    clip-path: circle();
    width: 130px;
}


@media screen and (max-width: 640px)
{ 
    .home .about-content p {
        font-size: var(--h3-font-size);
    }
}