.home {
    height: 50vh;
    width: 100%;
}

.about-me {
    text-align: center;
    animation: fade-in 0.5s;
}

.about-links {
    animation: fade-in 0.5s;
    flex-direction: row;
}

.hero .about-content p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
}

.profile-img {
    clip-path: circle();
    width: 130px;
    animation: fade-in 0.5s;
}


@media screen and (max-width: 640px)
{ 
    .home .about-content p {
        font-size: 1rem;
    }
}