.home {
    height: 50vh;
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me {
    display: block;
    text-align: center;
}

.about-links {
    flex-direction: row;
}

.hero .content p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
}

.profile-img {
    clip-path: circle();
    width: 130px;
}


@media screen and (max-width: 640px)
{ 
    .home .about-content p {
        font-size: 1rem;
    }
}