.preview {
    height: 100%;
    width: 100%;
    flex-direction: column;
}
    
.grid-container {
    width: 75%;
}

.grid-container .grid-item {
    margin: 0;
}

.view-button {
    margin: 0.5rem;
}

