.preview {
    min-height: 342px;
    animation: fade-in 0.3s 0.15s backwards;
}

.preview-heading h3 {
    font-size: var(--h3-font-size);
}

.preview-content {
    width: 100%;
}

.grid-container {
    width: 90%;
}

.grid-item {
    margin: 1.6rem;
}