.hero {
    padding-top: 5rem;
    min-height: 180px;
    width: 100%;
    animation: fade-in 0.3s;
}

.heading {
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.heading h1 {
    font-size: var(--h2-font-size);
}

.line {
    width: 100%;
    border-bottom: 1px solid var(--text-color);
    margin: 20px 0 20px;
}

