.hero {
    transform: translate(0%, 25%);
    height: 20vh;
    width: 100%;
}

.heading {
    animation: fade-in 0.5s;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.heading h1 {
    font-size: var(--h2-font-size);
}

.line {
    animation: fade-in 0.5s;
    width: 100%;
    border-bottom: 1px solid var(--text-color);
    margin: 20px 0 20px;
}

