@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd'), url(./fonts/CircularStd/circular-std.ttf) format('truetype');
}

:root {
  --text-color: #fff;
  --primary-color: #C5979D;
  --primary-hover-dark-color: #c5979dd2;
  --primary-hover-lite-color: #c5979d33;
  --secondary-color: #F9EA9A;
  --secondary-lite-color: #f9eb9a91;
  --hover-color: rgb(185, 185, 185);
  --bg-color: #202023;
  --bg-dark-color: #000000;
  --bg-lite-color: #202023d7;

  --header-height: 4.8rem;
  --big-font-size: 5.6rem;
  --h1-font-size: 3.6rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 2rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1rem;

  --font-bold: 800;
  --font-normal: 100;

  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: CircularStd, sans-serif;
}

body {
  background: var(--bg-color);
  word-break: break-word;
}

div {
  /* outline: solid red; */
}

h1, h2, h3, p, a {
  color: white;
  margin: 0.4rem;
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.highlight {
  color: var(--secondary-color);
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.inner-div {
  padding-inline-start: 1.6rem;
  padding-inline-end: 1.6rem;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}


.grid {
  display: grid;
  gap: 2.4rem;
}

.button {
  text-align: center;
  display: inline-flex;
  padding: 0.8rem;
  margin: 0.4rem;
  border-radius: 0.8rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.icon.button {
  background-color: var(--background-color);
  outline: solid var(--primary-color);
  outline-width: 1.5px;
  padding: 0.8rem;
}

button:hover {
  background-color: var(--primary-hover-dark-color);
  transition: 0.3s;
}

.icon.button:hover {
  background-color: var(--primary-hover-lite-color);
}

.gen-margin {
  padding: 0.8rem;
}

.fade-in {
  animation: fade-in 0.3s;
}

.page {
  margin-bottom: 4.8rem;
}