:root {
  --primary-color: #C5979D;
  --secondary-color: #dad2d8;
  --hover-color: rgb(185, 185, 185);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Georgia", sans-serif;
}

body {
  background: black;
}

div {
  outline: solid red;
}

h2, h4, p, a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.btn-light {
  background: var(--secondary-color);
  color: black;
}

.btn:hover {
  background: var(--hover-color);
  color: #fff;
  transition: 0.3s;
}